/* Footer styling */
footer {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    color: darkblue;
    padding: 10px;
    border: 2px dashed darkblue;
}

#notice {
    width: 80%;
    margin: 0 auto; /
}


.headline {
    color: darkgreen; 
    text-decoration: underline dotted darkgreen; 
}


h1 {
    font-family: sans-serif;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); 
}


#section {
    font-family: Arial, sans-serif;
    font-size: small;
    color: red;
    background-color: white; 
    width: 80%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); 
}

body {
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, sans-serif;
}
